*{
  margin: 0 auto;
  width: 90%;
  /*border: 1px solid black;//help during work*/
}

body {
  background-color: black;
}
#pic-container {
  background-color: white;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: orangered;
  padding-top: 50px;
  padding-bottom: 30px;
}

h2 {
  text-align: center;
  color: white;
  padding-bottom: 50px;
}
img {
  width: 30%; //30% of container
  margin: 20px; //crate little space between img*/
}

button {
  background-color: purple;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 16px 20px 16px 20px;
  width: 90%;
  border-radius: 90px;
  cursor: pointer;
  margin-left: 5%;

}
